extends layout


block content
    h1 ETL PROCESS

    div.buttons
        button(type='button') Extract
        button(type='button') Transform
        button(type='button') Load
        button(type='button') ETL

    ul
        each item in abcd
            li=item
