doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

        script(src='https://code.jquery.com/jquery-3.3.1.js')
        script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
        script(src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js')
        script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js')


body#body
    block content
        #loader.loader
            .lds-roller
                div
                div
                div
                div
                div
                div
                div
                div
            p Czyszczenie bazy danych...
        #wrapper.wrapper
            .buttons
              button#extract(type="button") Extract
              button#transform(type="button" disabled='true') Transform
              button#load(type="button" disabled='true') Load
              button(type='button') ETL
                a(href='clear')
                    button#clear(type='button') Wyczyść bazę danych
            table#example.display(style='width:100%;')


script(type='text/javascript').
    const myData = !{JSON.stringify(data)}
    $(document).ready(function () {
        if (window.location.href.indexOf('#cleared') !== -1) {
            alert("Twoja baza danych zostala wyczyszczona")
        }
        let table = $('#example').DataTable({
            data: myData,
            columns: [
                {title: "Title"},
                {title: "Price [zł]"},
                {
                    defaultContent: "<button>CSV</button>",
                    title: "Export",
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csv',
                    text: 'Eksportuj do csv',
                    filename: 'realestate',
                }
            ]
        });

        $('#example tbody').on('click', 'tr', function () {
            let data = table
                .row(this)
                .data();

            const stringData = data.join(',')
            const title = "Title, Price[zł]\r\n"

            let csvContent = "data:text/csv;charset=utf-8," + title + stringData;

            var encodedUri = encodeURI(csvContent)
            var link = document.createElement("a");
            link.href = encodedUri
            link.download = "advert.csv";
            link.click();

        })
        
        $('#extract').on('click', function() {
          $('#transform').attr('disabled', true);
          $.ajax({
            type : 'POST',
            url : '/extract',
            dataType: 'json',
            success: function(d){
              alert('Extracted data ready to transform');
              $('#transform').attr('disabled', false);
            }
          });
        });
        
        $('#transform').on('click', function() {
          $('#load').attr('disabled', false);
          $.ajax({
            type : 'POST',
            url : '/transform',
            dataType: 'json',
            success: function(d){
              alert('transformed data ready to load into database');
              $('#load').attr('disabled', false);
            }
          });
        });
        
        $('#load').on('click', function() {
          $.ajax({
            type : 'POST',
            url : '/load',
            dataType: 'json',
            success: function(d){
              alert('data succesfully load into database');
              $('#load').attr('disabled', true);
              $('#transform').attr('disabled', true);
            }
          });
        });
          
        $('#etl').on('click', function() {
          $.ajax({
            type : 'POST',
            url : '/etl',
            dataType: 'json',
            success: function(d){
              alert('data succesfully load into database');
            }
          });
        });
    });
    
    const clearBtn = document.getElementById('clear');
    const loader = document.getElementById('loader');
    const tableWrapper = document.getElementById('wrapper');
    clearBtn.addEventListener('click', function () {
        loader.style.display = "flex"
        tableWrapper.style.display = "none"
    });
