doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        script(src='https://code.jquery.com/jquery-3.3.1.js')
        script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
        script(src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js')
        script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js')


body#body
    block content
        #loader.loader
            .lds-roller
                div
                div
                div
                div
                div
                div
                div
                div
            p Czyszczenie bazy danych...
        #loaderEtl.loader
          .lds-roller
              div
              div
              div
              div
              div
              div
              div
              div
          p Przetwarzenie danych...
        #wrapper.wrapper
            .buttons
                button#extract(type="button") Extract
                button#transform(type="button" disabled='true') Transform
                button#load(type="button" disabled='true') Load
                button#etl(type='button') ETL
                a(href='clear')
                    button#clear(type='button') Wyczyść bazę danych
            table#example.display(style='width:100%;')

script(type='text/javascript').
    const myData = !{JSON.stringify(data)};
    const loaderEtl = document.getElementById('loaderEtl');

    $(document).ready(function () {
        if (window.location.href.indexOf('#cleared') !== -1) {
            alert("Twoja baza danych została wyczyszczona")
        }
        let table = $('#example').DataTable({
            data: myData,
            columns: [
                {
                    title: "Tytuł",
                    width: '78%'
                },
                {
                    title: "Cena [zł]",
                    width: '8%',
                },
                {
                    title: "Data dodania",
                    width: '8%',
                },
                {
                    defaultContent: "<button class='csvBtn'><i class=\"fas fa-file-download\"></i> CSV</button>",
                    title: "Export",
                    orderable: false,
                    width: '5%',
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csv',
                    text: 'Eksportuj do csv',
                    filename: 'realestate',
                }
            ]
        });

        $('#example tbody').on('click', 'button', function () {
            let data = table
                .row($(this).parents('tr'))
                .data();

            const stringData = data.join(',')
            const title = "Title, Price[zł], Data of addition\r\n"

            let csvContent = "data:text/csv;charset=utf-8," + title + stringData;

            const encodedUri = encodeURI(csvContent)
            const link = document.createElement("a");
            link.href = encodedUri
            link.download = "advert.csv";
            link.click();

        });


        $('#extract').on('click', function () {
            $('#transform').attr('disabled', true);
            $('#load').attr('disabled', true);

            loaderEtl.style.display = "flex";

            $.ajax({
                type: 'POST',
                url: '/extract',
                dataType: 'json',
                success: function () {
                    $('#transform').attr('disabled', false);
                    $('#extract').attr('disabled', true);
                    loaderEtl.style.display = "none";
                    alert('Extracted data ready to transform');
                }
            });
        });

        $('#transform').on('click', function () {
            $('#load').attr('disabled', false);
            loaderEtl.style.display = "flex";
            $.ajax({
                type: 'POST',
                url: '/transform',
                dataType: 'json',
                success: function () {
                    loaderEtl.style.display = "none";
                    alert('transformed data ready to load into database');
                    $('#load').attr('disabled', false);
                    $('#transform').attr('disabled', true);

                }
            });
        });

        $('#load').on('click', function () {
            loaderEtl.style.display = "flex";
            $.ajax({
                type: 'POST',
                url: '/load',
                dataType: 'json',
                success: function () {
                    loaderEtl.style.display = "none";
                    alert('data succesfully load into database');
                    $('#load').attr('disabled', true);
                    $('#transform').attr('disabled', true);
                    $('#extract').attr('disabled', false);
                    window.location.href = 'http://localhost:3000/';
                }
            });
        });

        $('#etl').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/etl',
                dataType: 'json',
                success: function () {
                    alert('data successfully load into database');
                    window.location.href = 'http://localhost:3000/';
                }
            });
        });
    });

    const clearBtn = document.getElementById('clear');
    const loader = document.getElementById('loader');
    
    const tableWrapper = document.getElementById('wrapper');
    clearBtn.addEventListener('click', function () {
        loader.style.display = "flex";
        tableWrapper.style.display = "none";
    });
